.app-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: calc( 100vh - 215.52px );
  padding: 0;
}

.properties-wrapper {
  width: 100%;
  padding-left: 51%;
  padding-top: 20px;
}

.nothing-found {
  display: flex;
  justify-content: center;
  height: 100%;
}

.nothing-found h1 {
  align-self: center;
}