.app-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: calc( 100vh - 215.52px );
  padding: 0;
}

.map-container,
.listings-grid {
  flex-basis: 50%;
}

.listings-grid {
  overflow-y: scroll;
  padding: 30px;
  background: #fff;  
}