.listings-grid__item {
    border: solid 2px #fff;
}

.listings-grid__item:hover {
  cursor: pointer;
}

.listings-grid__item--active {    
    border-color: #115EFE;
}

/* .listings-grid__item img {
    min-height: 170px;
} */